.main-paragraph {
    font-family: "HelveticaNowDisplay";
    font-size: 4rem;
    color: rgb(156, 156, 156);
    line-height: 60px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 150px;
    padding: 0px 0px 0px 0px;
    letter-spacing: -1.5px;
}

.main-container {
    max-width: 50%;
}

@media (max-width: 768px) {
    .main-container {
        max-width: 100%;
    }
}
